<div class="card">
  <div class="card-content ">
    <p class="red-text">I am really sorry but it looks like that email is off the grid! Please try a different one and I will do my best!</p>
  </div>
</div>
