<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      
      <h1 class="header center purple-text text-lighten-2">Stalker</h1>
      <div class="row center">
        <h5 class="header col s12 light"><%= pluralize((@searches || 0),'email' )%>  searched so far </h5>

      </div>
      <div class="row center">
        <div class="col-s12 offset-s3">
          <%= link_to 'Stalk using email' ,find_by_email_path, id: 'usingEmail',class: "btn-large waves-effect waves-light purple lighten-2" %>
          <%= link_to 'Stalk using personal info' ,find_by_info_path,class: "btn-large waves-effect waves-light purple lighten-2" %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row center">
        <div class="col-s12 offset-s3">
          <h5 class=" col s12 light">Find Stalker on
            <%= link_to 'Github', 'https://github.com/faethonm/stalker' ,class: "purple-text text-lighten 2" %>
          </h5>
        </div>
      </div>
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">

          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Discover your public online presence</h5>

            <p class="light"></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Find contacts using just the email</h5>
            <p class="light"></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Use responsibly</h5>

            <p class="light"></p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>
  
