<div class="section no-pad-bot" id="index-banner">
    <div class="container amber-text text-darken-3">
      <%= render 'layouts/ask_salem' %>
      <div class="row center">
        <div class="col-s12 offset-s3">
          <%= link_to 'Ask with email' ,new_contact_path, id: 'usingEmail',class: "btn-large waves-effect waves-light amber darken-3" %>
          <%= link_to 'Ask with personal info' ,new_umim_path,class: "btn-large waves-effect waves-light amber darken-3" %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row center">
        <div class="col-s12 offset-s3">
        </div>
      </div>
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">

          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Discover your public online presence</h5>

            <p class="light"></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Find contacts using just the email</h5>
            <p class="light"></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Use responsibly</h5>

            <p class="light"></p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>
  
