<div class="row">
  <div class="col s12">
    <div class="card purple lighten-2">
      <div class="card-content white-text">
        <span class="card-title">Demographics</span>
        <p><%= @demographics.gender %></p>
        <p><%= @demographics.location_deduced.deduced_location %></p>
      </div>
    </div>
  </div>
</div>
