<div class="center jumbotron">
  <%= render 'layouts/ask_salem' %>
  <div class="row">
    <div class="row center"id="search_by_email">
      <%= render 'shared/search_by_email_form'%>
    </div>
  </div>
</div>
