<h3 class="purple-text text-lighten 3"><%= @contact.email %></h3>

<% unless @by_email %>
  <%= link_to "Back", @umim, class: "btn-large waves-effect waves-light purple lighten-2" %>
<% end %>
<%= render partial: 'shared/contact' %>




