<h3 class="amber-text text-darken-3 ">Showing answers for <%= @contact.email %></h3>


<%= render partial: 'shared/contact' %>
<% unless @by_email %>
  <%= link_to "Back", @umim, class: "btn-large waves-effect waves-light amber" %>
<% end %>



