<div class="row">
  <div class="col s12">
    <div class="card purple lighten-2">
      <div class="card-content white-text">
        <span class="card-title">
          <%= social_profile.type.titleize %>
        </span>
        <p><%= social_profile.username %></p>
        <p><%= link_to social_profile.url,social_profile.url %></p>
      </div>
    </div>
  </div>
</div>
