<h3 class="purple-text text-lighten 3"><%= @social_info.email %></h3>

<div class="row">
  <% if @contact_info %>
    <div class="col s12">
      
        <ul class="tabs">
          <li class="tab col s3 ">
            <a class="active purple-text text-lighten 3" href="#test1">Contact Info</a>
          </li>
          <li class="tab col s3">
            <a class= "purple-text text-lighten 3" href="#test2">Social Accounts</a>
          </li>
        </ul>
    </div>
    <div id="test1" class="col s12">
      <%= render 'contact_info' %>
    </div>
    <div id="test2" class="col s12">
      <div class="card">
        <div class="card-content ">
          <ul class="collection">
            <% @social_profiles.each do |social_profile| %>
              <%= render partial:'social_profile' ,locals: {social_profile: social_profile} %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <% else %>
      <%= render 'shared/no_social_information' %>
    <% end %>
</div>




