<div class="container amber-text text-darken-3">
  <h1 class="header center "> Ask Salem</h1>
  <div class="row center">
    <h5 class="header col s12 light"><%= pluralize((@searches || 0),'email' )%>  searched so far </h5>

  </div>
</div>
