<footer class="page-footer teal lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Stalky</h5>
          <p class="grey-text text-lighten-4">Stalky was created to explore an idea of searching your online presence. Find Stalky on
          <%= link_to 'Github', 'https://github.com/faethonm/Stalky' ,class: "purple-text text-lighten 2" %>
            </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="white-text text-lighten-3" href="http://github.com/faethonm">Faethon Milikouris</a>
      </div>
    </div>
  </footer>
