<footer class="page-footer pink darken-4">
    <div class="footer-copyright white">
      <div class="container pink-text text-darken-4">
      Made by <a href="http://github.com/faethonm">Faethon Milikouris</a>
      </div>
    </div>
  </footer>
