<header>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container ">
    <%= link_to "Salem", root_url, id: "logo", class:"brand-logo pink-text text-darken-4"%>
    </div>
  </nav>
</header>
