<header>
  <nav class="teal lighten-2" role="navigation">
    <div class="nav-wrapper container">
    <%= link_to "Stalky", root_url, id: "logo", class:"brand-logo"%>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "Home",   root_url %></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</header>
